# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Django stuff:
*.log
*.pot
*.pyc
db.sqlite3

# Ignore migrations except __init__.py
**/migrations/
!**/migrations/__init__.py

# Environment variables
.env

# Virtual environments
venv/
env/
.venv/

# Static and media files (if used)
staticfiles/
media/

# Editor and IDE files
.vscode/
.idea/
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# macOS files
.DS_Store